* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #e9e9e9;
    color: #2e2e2e;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 80px;
}

header {
    background: gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    display: flex;
    justify-content: right;
    align-items: center;
    overflow: hidden;
}
header input[type="submit"]{
	background-color: #4CAF50; 
    color: white; 
    border: none; 
	margin-right: 20px;
    padding: 10px 20px;
    cursor: pointer; 
}
header input[type="text"],
header input[type="password"] {
    padding: 10px;
    margin: 5px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    width: 180px; 
}
header input[type="submit"]:hover {
    background-color: #45a049; 
}

.contenidor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding-top: 20px; 
}

h1 {
    margin: 20px 0;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1b4a81;
    font-weight: bold; 
}

.contenidor .articles {
    margin-bottom: 20px;
}

.contenidor .articles ul {
    list-style: none;
}

.contenidor .articles ul li {
    padding: 15px 10px;
    border-bottom: 1px solid #c8c8c8;
}

.paginacio ul {
    list-style: none;
}

.paginacio ul li {
    display: inline-block;
    margin-right: 10px;
}

.paginacio ul .active a {
    background: #2580b4;
}

.paginacio ul .disabled {
    background: #c2bfbf;
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 2px 2px;
    cursor: not-allowed;
    color: #fff;
    text-decoration: none;
}

.paginacio ul li a {
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px 20px;
    background: #424242;
    color: #fff;
    text-decoration: none;
}

.paginacio ul li a:hover {
    text-decoration: none;
    background: #399228;
}